* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    border: 2px solid black;
    width: 500px;
    height: 90px;
    margin: 0 auto;
    margin-top: 50px;
}
.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom {
    margin-top: 30px;
    margin-left: 5px;
}
button {
    background-color: #fe6;
    color: black;
    width: 66px;
    height: 27px;
    box-shadow: 1px 1px 1px 1px black;
}