* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: #acf;
    color: whitesmoke;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0  auto;
}
.citywalk {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}
.city {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    align-items: center;
    margin: 0 auto;
}
.sanjose {
    font-weight: bolder;
    font-size: larger;
    padding: 10px;
}
hr {
    width: 1000px;
    margin: 0 auto;
}

main {
    width: 800px;
    margin: 0 auto;
}
.top {
    display: flex;
    /* width: 800px; */
    justify-content: space-between;
    /* margin-left: 100px; */
    margin-top: 50px;
}
.box1 {
    background-color: lightgray;
    height: 200px;
    width: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}
.box2 {
    background-color: lightgray;
    height: 200px;
    width: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}
.box3 {
    background-color: lightgray;
    height: 200px;
    width: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}
.box4 {
    background-color: lightgray;
    height: 200px;
    width: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}
.para {
    margin: 10px;
}
img {
    height: 57px;
    width: 67px;
}
.bottom {
    position: absolute;
    bottom: 100px;
    background-color: rgb(209, 207, 207);
    display: flex;
    width: 800px;
    height: 115px;
    justify-content: space-between;
    /* margin-left: 100px; */
    margin-top: 50px;
    align-items: center;
    border: 2px solid black;
}
.bottom img {
    margin-right: 15px;
}
.accept {
    margin-left: 5px;
    margin-right: 10px;
    background-color: #acf;
    color: black;
    width: 98px;
    height: 27px;
    box-shadow: 1px 1px 2px 1px black;
}
.header button {
    text-decoration: none;
    color: whitesmoke;
    background-color: transparent;
    border: none;
}
.red {
    color: #d32;
}
.blue {
    color: #38e;
}
